@import url('https://fonts.googleapis.com/css2?family=Caudex&display=swap');

@font-face {
    font-family: 'bad_comaregular';
    src: url('/misc/bad_coma-webfont.woff2') format('woff2'),
         url('/misc/bad_coma-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --menu-shadow: 0px 0px 0px #b7b7b7;
    --hover-color: #a06464;
    --footer-color: #d2d2d2;
    --grey: rgb(56, 53, 53);
}

body {
    font-family: 'Caudex', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    border: 10px solid rgba(255, 255, 255, 0);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 4%, rgba(212,212,212,1) 43%, rgba(142,97,125,1) 100%);
    overflow: hidden;
}

#splash-placement {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%,-50%); 
    background-color:white;
    z-index: 10;
    transition : all ease-in-out 500ms;

    box-shadow: inset 0 0 100px rgba(0,0,0,0.9);
    background: radial-gradient(circle at 50% 50%,#e1e1e1 20%,#555);
}

.splashscreen {
    height: 100vh;
    display: flex;
    justify-content: center;
}

.paper {
    align-self: center;
    background: #fafafa;
    box-shadow: 0 0 10px rgba(0,0,0,0.3), 0 0 300px 25px rgba(222,198,122,0.7) inset;
    width: 250px;
    height: 350px;
    padding: 24px;
    position: relative;
    border-radius: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;

    transform: skew(-30deg, 0deg);
}

.tex {
    background-image: url(/img/paper1.jpg);
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 350px;
    padding: 24px;
    opacity: 0.6;
}

#paper-texture1, #paper-texture2 {
    z-index: -1;
    transition: .5s;
}

.paper:before, .paper:after {
    content: "";
    background: #fafafa;
    box-shadow: 0 0 8px rgba(0,0,0,0.2), inset 0 0 300px rgba(222,198,122,0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    transition: .5s;
}

.paper:before, #paper-texture1 {
    left: -5px;
    top: 2px;  
    transform: rotate(-1.5deg);
}

.paper:after, #paper-texture2 {
    right: -3px;
    top: 0px;
    transform: rotate(2.4deg);
}

.paper:hover:before {
    transform: rotate(0deg);
    left: -6px;
    top: -6px;
}

.paper:hover:after {
    transform: rotate(0deg);
    right: 3px;
    top: -3px;
}

.paper:hover > #paper-texture1 {
    transform: rotate(0deg);
    left: -6px;
    top: -6px;
}

.paper:hover > #paper-texture2 {
    transform: rotate(0deg);
    right: 3px;
    top: -3px;
}

.splash-text {
    position: relative;
    color: var(--grey);
    color: black;
    margin: 5px;
}

#splash-title {
    font-family: 'bad_comaregular';
    font-weight: lighter;
}

#splash-coords {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
}

#absolute-logo {
    position: relative;
    text-align:center;
    transform: translate(-5%,-0%); 
    
    width: 100px;
    height: 175px;
    background-image: url("/img/one_cross.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: none;
}

.hidden{
    transition: 0.2s;
    visibility: hidden;
}

#splash-outline {
    width: 100px;
    height: 45px;
    margin-top: 10px;
    border-bottom: 1.4px solid var(--grey);
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    cursor: pointer;
    border-radius: 10px;
}

#Enter {
    font-size: 20px;
    text-transform: uppercase;
}

#splash-outline:hover > #Enter {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
}

.grid-container {
    height: 98vh;
    display: grid;
    grid-template-rows: 200px 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px 15px; 
    font-size: 20px;
}

.grid-item {
    background-color: rgb(255, 255, 255, 0.1);
    border: 4px solid rgb(211, 211, 211, 0.01);
    padding: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    user-select: none;
}

.item-1{
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
}

#flex-holder-1 {
    grid-column: 1 / span 3;
    background-color: rgb(248, 255, 255, 0.1);
    border-radius:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--grey), 05;
    border-bottom-width: 5px;
}

.item-2{
    grid-area: 2 / 4 / 5 / 3;
}

.item-3{
    grid-area: 2 / 1 / span 3 / span 2;
}

#title {
    display:flex;
    text-shadow:var(--menu-shadow);
}

h1 span {
    display: inline-flex;
    z-index: 5;
    font-size: 160px;
    font-weight: lighter;
    z-index: 5;
    font-size: 160px;
    transition: 0.3s;
    color: var(--grey);
}

span:nth-child(even) {
    overflow: hidden;
    transition: ease-in-out 0.3s;
    color: var(--grey);
    /*text-decoration: line-through rgb(0, 0, 0);
    border-bottom: 7px solid #d07878; */
    letter-spacing: -1em;
    font-size: 120px;
}

h1:hover span:nth-child(even) {
    letter-spacing: 0;
    color: var(--hover-color);
}

h1:hover > span:nth-child(odd){ 
    color: var(--hover-color);
}

.social-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa-brands {
    color: var(--grey);
    font-size: 25px;
    line-height: 50px;
    transition: .5s;
}

.social-menu ul li a:hover > .fa-brands{
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    border-radius: 50%;
    transform: translate(0,0px);
    background-color: white;
    text-align: center;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -5px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: var(--grey);
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: var(--grey);
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: var(--grey);
}

.side-menu {
    transform: translate(0%, 80%); 
}

.side-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
    
}

.side-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.side-menu ul li a i{
    color: var(--grey);
    font-size: 36px;
    line-height: 50px;
    transition: .3s;
}

.side-menu ul li a:hover > i{
    color: var(--hover-color);
    transform: scale(1.2);
}

.side-menu ul li {
    position: relative;
    display: block;
    transition: .3s;
    transform: translate(0,0px);
    text-align: center;
}
.side-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -5px);
}

#main-menu {
    
    display:flex;
    justify-content: space-evenly;
    font-size: 40px;
    font-weight: lighter;
    position: absolute;
    left: 50%; 
    transform: translate(-50%, 20%); 
}

#main-menu ul {
    padding: 0px;
    display: flex;
    position: relative;
}

#main-menu ul li {
    list-style: none;
}

#main-menu ul li a {
    display: inline-block;
    margin: 30px;
    text-decoration: none;
    color:var(--grey);
    transition: .3s;
}

#main-menu ul li a:hover {
    transform: scale(1.2);
    color: var(--hover-color);
}

footer {
    padding: 3rem;
    position:relative;
    display:flex;
    justify-content: center;
    text-align:center;
    background: var(--footer-color), 0.75;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(75, 75, 75, 0.47);
}

.copyright {
    margin-top:20px;
    border-spacing: 5px;
    font-size:20px;
    font-weight: lighter;
}

#myBtn {
    display: none; 
    transition: .3s;
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: rgb(123, 123, 123);
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

.img-section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-container {
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-colorgb(101, 181, 181); */
}

.left {
    width: 50%;
    height: 600px;
    background: url(https://cdn.shopify.com/s/files/1/0076/9522/files/277A0250_1024x1024.JPG)
      no-repeat center / cover;
    border-radius: 8px;
}

.right {
    width: 50%;
    min-height: 400px;
    background: rgb(56, 53, 53, 0.75);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(75, 75, 75, 0.47);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 8px;
    color: white;
    margin-left: -150px;
}

.right h1 {
    font-size: 40px;
    font-weight: lighter;
}

.right p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
}

.right a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
    transition: .3s;
}

.img-btn {
    border-radius: 15px 50px 30px;
}

.img-btn:hover {
    color: var(--hover-color);
}

@media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    .left {
      width: 100%;
      height: 400px;
    }
    .right {
      width: 90%;
      margin: 0;
      margin-top: -100px;
    }
}