@font-face {
    font-family: 'nintendoid_1regular';
    src: url('/misc/nintendoid_1-webfont.woff2') format('woff2'),
         url('/misc/nintendoid_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
}

body {
    background-color: black;
}

.title {
    padding: 15px;
}

.letter {
    font-size: 80px;
    font-family: 'nintendoid_1regular';
    color: white;
    display: inline-block;
    animation: blink 2s linear infinite;
    animation-direction: alternate;
}

.glitch {

}