@font-face {
    font-family: 'nintendoid_1regular';
    src: url('/misc/nintendoid_1-webfont.woff2') format('woff2'),
         url('/misc/nintendoid_1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
}

body {
    background-color: black;
}

.title {
    padding: 15px;
    display: flex;
    align-content: center;
    justify-content:center;
}

.letter {
    font-size: 80px;
    font-family: 'nintendoid_1regular';
    color: white;
    display: inline-block;
    user-select: none !important;
    text-shadow: 0 0 4px #eeeeee, 0 0 16px #ffffff
}

span.letter:nth-child(even):hover {
    transform: rotate(6deg) translate(0px, 4px);
}
  
span.letter:nth-child(odd):hover {
    transform: rotate(-4deg) translate(0px, 6px);
}

.fade {
    animation: blink 1.5s linear infinite;
    animation-direction: alternate;
}

/* filter: blur(1px);